@{
    //the Layout ties this Content Page to the desired Layout structure page
    Layout = "~/_Layout.cshtml";
    Page.Title = "Hello World";
}

@* you can add HTML in both files (HelloWorld.cshtml and _Layout.cshtml)
    *@

<h1>Hello World</h1>



@section foot {
    &copy; CPSC1517 Nait Sep 2020
}

