@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Sample: CheckBoxes";
    string choices = Request.Form["CheckBoxGroup"];
}


@section banner{
    <div>
        <h3>Form Using CheckBoxes</h3>
    </div>
}
